/* Cascade Style Sheet for this website */
body {
	margin: 50px 0px 0px 0px;
	background-color: lightblue;
}
a{
	text-decoration: none;
}
h1 {
	color: navy;
	font-size: 48px;
	text-align: center;
}
h3{
	margin: 0px;
}
p{
	font-size: 12px;
}
.error{
	color: red;
}
ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: navy;
	position: fixed;
	top: 0;
	width: 100%;
}

ul.navbar li{
	float: left;
}
ul.navbar li > a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	/* text-decoration: none; */
}
ul.navbar li > a:hover{
	background-color: blue;
}
.content{
	min-height: 500px;
	width: 800px;
	margin: auto;
	overflow: auto;
}
input[type=text], select, [type=email], [type=password], textarea{
	width: 400px;
}
.shop_product{
	display: inline-block;
	background-color: navy;
	color: white;
	border: solid;
	width: 350px;
	height: 400px;
	margin-bottom: 10px;
}
.shop_title{
	height: 10%;
	text-align: center;
	padding-top: 10px;
}
.shop_image{
	height: 80%;
	text-align: center;
}
.shop_bottom{
	height: 10%;
	text-align: center;
}
.shop_price{
	float: left;
	display: block;
	width: 50%;
	height: 100%;
}
.shop_addcart{
	float:right;
	display: block;
	width: 50%;
	height: 100%;
}
.product_link{
	text-decoration: none;
	color: white;
}
.shop_product:hover{
	background-color: blue;
}
th{
	text-align: left;
	padding-right: 15px;
}
.cart_image{
	vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cart_link{
	text-decoration: none;
	color: black;
}
footer{
	background-color: black;
	color: white;
	font-size: 10px;
	text-align: right;
	padding: 10px;
	bottom: 0;
}
